
/* Custom brand colors */

// ====== Light Mode Gray Color ======== //
// brand gray-color-variables
$gray-100: #f9f9fa;
$gray-200: #ebeef0;
$gray-300: #dde1e5;
$gray-400: #ced4d8;
$gray-500: #95a1ac;
$gray-600: #7b8b98;
$gray-700: #5f6e7a;
$gray-800: #30373D;
$gray-900: #384047;
// brand end gray-color-variables

// ====== Dark Mode Gray Color ======== //
// brand gray-dark-color-variables
$gray-dark-100: #424F5B;
$gray-dark-200: $gray-900;
$gray-dark-300: $gray-dark-100;
$gray-dark-400: $gray-600;
$gray-dark-500: #AAB4BD;
$gray-dark-600: $gray-400;
$gray-dark-700: $gray-300;
$gray-dark-800: #e3eaef;
$gray-dark-900: $gray-200;
// brand end gray-dark-color-variables

// ====== Color variants ======== //
// brand color-variables
$blue:       #008EFF;
$indigo:     #727BFF;
$purple:     #A866FF;
$pink:       #FF69BE;
$red:        #FF737C;
$orange:     #FF9A4E;
$yellow:     #FFD10D;
$green:      #00CE5A;
$teal:       #00C8BB;
$cyan:       #86CBFF;
// brand end color-variables


// scss-docs-start theme-color-variables

$primary:       $blue;
$secondary:     $gray-700;
$success:       $green;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;
$light:         $gray-200;
$dark:          $gray-900;

// scss-docs-end theme-color-variables